<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>

    <h1>Hello</h1>
    <p>Attached is a short report of how my eighth week at TheJitu has been.</p>
    <p>Sincerely,</p>
    <p>Emmanuel Kariithi</p>
    
</body>
</html>
